@use"base/variables.scss" as v;
@use "base/functions.scss" as f;


.aboutMe{
    color: v.$pc;
    align-items: last baseline;
    .photo{
        img{
            width: 80%;
            margin: 0 auto;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p{
            margin: 20px auto;
            line-height: 180%;
            color: v.$gray;
        }


    .contactIcon{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin-bottom: 0;
        
        div{
            width: 60px;
            height: 60px;
            background-color:v.$icb;
            border-radius: 50%;
            color: v.$gray;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                i{
                    color:v.$pc;
                }
            }


        }

        div:hover{
            background-color: v.$pink;
            color: v.$black;
            box-shadow: 0 0 10px v.$pink;
        }
    }

}
}


.skill{
    position: relative;
    h2{
        margin-top: 50px;
        font-size: v.$text-lg;
        color: v.$white;
    }
}

.skill-all{
    display: none;
    margin: auto;
    width: 90%;
}

.skillCard{
    max-width:180px;
    border-radius: 20%;
    padding: 5%;
    margin-top: 20px;
    background-color: v.$black002;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
    .iconC {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$pc3;
        img{
             width: 60%;
        }
    }

    p{
        margin-top: 20px;
        color: v.$pc;
    }
}

.skillCard:hover{
    background-color: black;

 }

 .skillCard:hover .iconC{
    background-color: v.$pc;  
}

.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 17px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}
  
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.Back{
    left: 0;
}
  
.Back:hover, .forward:hover {
    background-color: var(--dark);
}
  
.dots {
    cursor: pointer;
    bottom: 10px;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
  
.enable, .dots:hover {
    background-color: #717161;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}
  
@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

// html * {
//     border:1px solid red;
// }
