@use"base/variables.scss" as v;
@use "base/functions.scss" as f;


/*-----------------------------------*\
  Contact Img
\*-----------------------------------*/

// html * {
//     border: 1px solid red;
// }

.cartoon{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

/*-----------------------------------*\
  Contact From
\*-----------------------------------*/

.up{
    transition: all 0.5 ease-in;
    transform: rotate(180deg);
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactInfo{
    width: 95%;
    margin: auto;

    p{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        color: v.$pc;
        font-family: "Balsamiq Sans", sans-serif;
    }
    span{
        background-color:v.$icb;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height:40px;
        margin-right: 20px;

        .fa-phone{
            color: green;
        }
        .fa-envelope{
            color: orange;
        }
        .fa-linkedin{
            color: #0077b5;
        }
    }


}

.leaveMessage{
    display: none;
    p{
        margin-top: 0;
        margin-bottom: 20px;
        color: v.$pc;
    }
}

.contactInfoBtn,
.leaveMessageBtn{
    background-color: v.$pink5;
    border-radius: 30px;
    color: v.$pc;
    border: none;
    width: 350px;
    height: 50px;
    font-size: v.$text-md;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    margin: 10px auto;

    .fa-caret-down{
       
       font-size: v.$text-base;
    }
}

.contactInfoBtn{
    background-color: v.$pink;
}

.contactInfoBtn:hover,
.leaveMessageBtn:hover{
    background-color: v.$pink;
}



.cantactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  
}
  
.messageFrom {
    width:95%;
    margin: auto;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
  
.title {
    font-size: v.$text-sm;
    margin-bottom: 30px;
    text-align: start;
    margin-top: 20px;
    color: v.$pc;
}
  
.messageInputContainer {
    position: relative;
    height: 45px;
    width: 95%;
    margin-bottom: 17px;
}
  
  
.messageInput {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid v.$pink;
    border-radius: 7px;
    font-size: v.$text-base;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
  
::placeholder {
    color: transparent;
}
  
  
.messageLabel {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: v.$bgc;
    color:v.$pink;
    font-size: v.$text-base;
    transition: 0.5s;
    z-index: 0;
}
  
.submitBtn {
    display: block;
    background-color: Transparent;
    padding: 15px 30px;
    border: 0.5px solid v.$pink;
    color: v.$pink;
    border-radius: 6px;
    cursor: pointer;
    font-size: v.$text-base;
    margin-top: 30px;
  }
  
.submitBtn:hover {
    background-color:v.$pink;
    transform: translateY(-2px);
    color: v.$black;
    box-shadow: 0 0 40px v.$pink;
}
  
.messageInput:focus + .messageLabel {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: v.$text-base;
    font-weight: 600;
    color:v.$pink;
}
  
.messageInput:focus {
    border: 2px solid v.$pink;
}
  
.messageInput:not(:placeholder-shown)+ .messageLabel {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: v.$text-base;
    font-weight: 600;
}

.message{
    width: 95%;
    height: 200px;
}


@media screen and (min-width: 834px) {

    .contactContainer{
        padding-top: 100px;
    }


    .contact{
        display: block;
    }

    .cantactForm {
        display: block;  
    }
      
    .messageFrom {
        width:80%;
        margin: auto;
        border-radius: 8px;
        padding: 10px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

}