@use"base/variables.scss" as v;
@use "base/functions.scss" as f;


/*-----------------------------------*\
  Footer
\*-----------------------------------*/

.footer{
    div{
        font-family: "Balsamiq Sans", sans-serif;
        font-weight: 400;      
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$pc;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: v.$black;
        height: 24px;

        p{
          font-size: 12px;
        }
    }
}

footer{
  div{
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: 400;      
      display: flex;
      justify-content: center;
      align-items: center;
      color: v.$pc;
      width: 100%;
      background-color: v.$black;
      height: 24px;

      p{
        font-size: 12px;
      }
  }
}


@media screen and (min-width: 1080px) {
  .footer{
    div{
        p{
          font-size: v.$text-base;
        }
    }
}

footer{
  div{
      p{
        font-size: v.$text-base;
      }
  }
}
}
