/*-----------------------------------*\
  Home -- Intro
\*-----------------------------------*/
.homeIntro {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  color: #F4F5F7;
  text-align: center;
}
.intro h2 {
  line-height: 150%;
  font-size: 25px;
}
.intro h2 .echo {
  font-size: 16px;
}
.intro h2 .alice {
  color: #FAACAC;
}
.intro h6 {
  margin-top: 50px;
  margin-bottom: 100px;
}
.intro a {
  position: relative;
  z-index: 3;
  width: 400px;
  height: 40px;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  color: #F7f26d;
  border: 0.5px solid #F7f26d;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.intro a:hover {
  background-color: #F7f26d;
  color: #000;
  box-shadow: 0 0 40px #F7f26d;
}

@media screen and (min-width: 834px) {
  .intro h2 {
    line-height: 200%;
    font-size: 31.25px;
  }
}
@media screen and (min-width: 1080px) {
  .intro h2 {
    line-height: 200%;
    font-size: 48.83px;
  }
}
/*-----------------------------------*\
  Home -- Plant & BG
\*-----------------------------------*/
.homeIntro {
  position: relative;
  top: 50%;
}
.homeIntro .planet .mars {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 30%;
  right: 0;
  z-index: 2;
  animation: move 4s linear infinite;
}
.homeIntro .planet .mars img {
  width: 100%;
}
.homeIntro .planet .stellite {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 60px;
  height: 60px;
  z-index: 2;
  animation: move 4s 0.5s linear infinite;
}
.homeIntro .planet .stellite img {
  width: 100%;
}
.homeIntro .planet .earth {
  position: absolute;
  top: 55%;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 2;
  animation: move 4s 1s linear infinite;
}
.homeIntro .planet .earth img {
  width: 100%;
}
.homeIntro .planet .cube1 {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 20px;
  height: 20px;
  z-index: 2;
  animation: move 4s 0.3s linear infinite;
}
.homeIntro .planet .cube1 img {
  width: 100%;
}
.homeIntro .planet .cube2 {
  position: absolute;
  top: 55%;
  right: 10%;
  width: 30px;
  height: 30px;
  z-index: 2;
  animation: move 3s 0.15s linear infinite;
}
.homeIntro .planet .cube2 img {
  width: 100%;
}
.homeIntro .bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.homeIntro .bg div {
  width: 20px;
  height: 20px;
}
.homeIntro .bg div img {
  width: 100%;
}
.homeIntro .bg .cubeBg1 {
  position: absolute;
  top: 50%;
  left: 10%;
}
.homeIntro .bg .cubeBg2 {
  position: absolute;
  top: 40%;
  left: 0;
}
.homeIntro .bg .cubeBg3 {
  position: absolute;
  top: 70%;
  left: 90%;
}
.homeIntro .bg .cubeBg4 {
  position: absolute;
  top: 20%;
  left: 80%;
}
.homeIntro .bg .cubeBg5 {
  position: absolute;
  top: 10%;
  left: 75%;
}
.homeIntro .bg .cubeBg6 {
  position: absolute;
  top: 75%;
  left: 20%;
}

@media screen and (min-width: 834px) {
  .homeIntro .planet .mars {
    width: 140px;
    height: 140px;
    top: 30%;
    right: 10%;
  }
  .homeIntro .planet .stellite {
    top: 20%;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  .homeIntro .planet .earth {
    top: 50%;
    left: 20%;
    width: 120px;
    height: 120px;
  }
  .homeIntro .planet .cube1 {
    top: 10%;
    left: 20%;
    width: 30px;
    height: 30px;
  }
  .homeIntro .planet .cube2 {
    top: 55%;
    right: 20%;
    width: 35px;
    height: 35px;
  }
  .homeIntro .bg {
    width: 100%;
    height: 100%;
  }
  .homeIntro .bg div {
    width: 30px;
    height: 30px;
  }
  .homeIntro .bg .cubeBg1 {
    top: 50%;
    left: 20%;
  }
  .homeIntro .bg .cubeBg2 {
    top: 40%;
    left: 10%;
  }
  .homeIntro .bg .cubeBg3 {
    top: 70%;
    left: 70%;
  }
  .homeIntro .bg .cubeBg4 {
    top: 25%;
    left: 87%;
  }
  .homeIntro .bg .cubeBg5 {
    top: 15%;
    left: 75%;
  }
  .homeIntro .bg .cubeBg6 {
    top: 70%;
    left: 20%;
  }
}
/*-----------------------------------*\
  Home -- 
\*-----------------------------------*/
@keyframes move {
  0% {
    transform: scale(1) rotate(0deg) translateY(4px) translateX(4px);
  }
  25% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: scale(1.1) rotate(-6deg) translateY(-4px) translateX(-4px);
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(4px) translateX(4px);
  }
}/*# sourceMappingURL=home.css.map */