@use"base/variables.scss" as v;
@use "base/functions.scss" as f;


/*-----------------------------------*\
  Home -- Intro
\*-----------------------------------*/


.homeIntro{
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro{
  color: v.$pc;
  text-align: center;

    h2{
        line-height: 150%;
        font-size: v.$text-md;
        .echo{
            font-size: v.$text-base;
        }
    
        .alice{
            color: v.$pink;
            // font-family: 'Chinese';
        }
    }

    h6{
      margin-top: 50px;
      margin-bottom: 100px;
    }

    a{
        position: relative;
        z-index: 3;
        width: 400px;
        height: 40px;
        padding: 10px 30px;
        font-size: v.$text-base;
        text-decoration: none;
        color:v.$yellow;
        border: 0.5px solid v.$yellow;
        border-radius: 5px;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;
      }


    a:hover{
        background-color: v.$yellow;
        color: v.$black;
        box-shadow: 0 0 40px v.$yellow;
    } 
}


@media screen and (min-width: 834px) {
  .intro{
    h2{
      line-height: 200%;
      font-size: v.$text-lg;
    }
  }
}

@media screen and (min-width: 1080px) {
  .intro{
    h2{
      line-height: 200%;
      font-size: v.$text-xxl;
    }
  }
}


/*-----------------------------------*\
  Home -- Plant & BG
\*-----------------------------------*/

.homeIntro{
  position: relative;
  top:50%;
  .planet{
    .mars{
      position: absolute;
      width: 80px;
      height: 80px;
      top:20%;
      right:0;
      z-index: 2;
      animation: move 4s linear infinite;
      img{
        width: 100%;
      }
    }
    .stellite{
      position: absolute;
      top:0;
      left: 30%;
      width: 60px;
      height: 60px;
      z-index: 2;
      animation: move 4s 0.5s linear infinite;
      img{
        width: 100%;
      }
    }
    .earth{
      position: absolute;
      top:60%;
      left: 0;
      width: 70px;
      height: 70px;
      z-index: 2;
      animation: move 4s 1s linear infinite;
      img{
        width: 100%;
      }
    }
    .cube1{
      position: absolute;
      top:10%;
      left: 20%;
      width: 20px;
      height: 20px;
      z-index: 2;
      animation: move 4s 0.3s linear infinite;
      img{
        width: 100%;
      }
    }
    .cube2{
      position: absolute;
      top:55%;
      right: 10%;
      width: 30px;
      height: 30px;
      z-index: 2;
      animation: move 3s 0.15s linear infinite;
      img{
        width: 100%;
      }
    }
  }



  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    div{
      width: 20px;
      height: 20px;
      img{
        width: 100%;
      }
    }

    .cubeBg1{
      position: absolute;
      top:50%;
      left:10%;
    }

    .cubeBg2{
      position: absolute;
      top:40%;
      left:0;
    }

    .cubeBg3{
      position: absolute;
      top:70%;
      left:90%;
    }

    .cubeBg4{
      position: absolute;
      top:20%;
      left:80%;
    }

    .cubeBg5{
      position: absolute;
      top:10%;
      left:75%;
    }

    .cubeBg6{
      position: absolute;
      top:75%;
      left:20%;
    }
  }
}

@media screen and (min-width: 834px) {

  .homeIntro{
    .planet{
      .mars{
        width: 100px;
        height: 100px;
        top:20%;
        right:10%;
      }
      .stellite{
        top:0;
        left: 30%;
        width: 80px;
        height: 80px;
      }
      .earth{
        top:50%;
        left: 20%;
        width: 110px;
        height: 110px;
      }
      .cube1{
        top:10%;
        left: 20%;
        width: 30px;
        height: 30px;
      }
      .cube2{
        top:55%;
        right: 20%;
        width: 35px;
        height: 35px;
      }
    }
  
  
  
    .bg{
      width: 100%;
      height: 100%;
      div{
        width: 30px;
        height: 30px;
      }
  
      .cubeBg1{
        top:50%;
        left:20%;
      }
  
      .cubeBg2{
        top:40%;
        left:10%;
      }
  
      .cubeBg3{
        top:70%;
        left:70%;
      }
  
      .cubeBg4{
        top:20%;
        left:87%;
      }
  
      .cubeBg5{
        top:10%;
        left:75%;
      }
  
      .cubeBg6{
        top:70%;
        left:20%;
      }
    }
  }

}


/*-----------------------------------*\
  Home -- 
\*-----------------------------------*/
@keyframes move {
  0% {
    transform: scale(1) rotate(0deg) translateY(4px) translateX(4px);
  }

  25% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform:  scale(1.1) rotate(-6deg) translateY(-4px) translateX(-4px);
  }

  100% {
    transform: scale(1) rotate(0deg) translateY(4px) translateX(4px);
  }
}
