
$black:#000;
$bgc:#202020;
$pink:#FAACAC;
$yellow:#F7f26d;
$white:#fff;
$pc:#F4F5F7;
$baseUnit: 16;
$siteWidth: 1280;
$fontScaler:1.25;

$text-base:16px;
$text-sm: 20px;
$text-md:25px;
$text-lg: 31.25px;
$text-xl:39.06px;
$text-xxl: 48.83px;
$text-xxxl: 61.04px;